html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.button-85 {
  font-family: "Mona Sans";
  font-size: 2.3em;
  padding: 1.0em 2.0em;
  border: none;
  outline: none;
  color: rgb(36, 29, 48);
  background: #ece9f3;
  cursor: pointer;
  position: absolute;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -50%);
  z-index: 0;
  border-radius: 100px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 100px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: hsl(253, 47%, 96%);
  left: 0;
  top: 0;
  border-radius: 100px;
}

#grad {
    background-color: rgb(255, 255, 255); /* For browsers that do not support gradients */
    background: linear-gradient(#e66465, #85b5f9,#feef68, #f46ad8, #7af580);
  }

  .container { 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    align-items: start;
    padding: 200px;
    grid-gap: 5.3em;
    transform: scale(1)
    }

    .dot1 {
      height: 50px;
      width: 50px;
      background-color: #e66465;
      border-radius: 50%;
      display: inline-block;
    }
    .dot2 {
      height: 50px;
      width: 50px;
      background-color: #85b5f9;
      border-radius: 50%;
      display: inline-block;
    }
    .dot3 {
      height: 50px;
      width: 50px;
      background-color: #feef68;
      border-radius: 50%;
      display: inline-block;
    }
    .dot4 {
      height: 50px;
      width: 50px;
      background-color: #f46ad8;
      border-radius: 50%;
      display: inline-block;
    }
    .dot5 {
      height: 50px;
      width: 50px;
      background-color: #7af580;
      border-radius: 50%;
      display: inline-block;
    }

    label[for*="checkbox"] {
      cursor: pointer;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      grid-gap: 20px;
      
      /* text settings */
      font-size: 2em;
      letter-spacing: .1em;
      font-weight: 400;
    }

/* Basic styling */

[type=checkbox] {
  width: 2rem;
  height: 2rem;
  color: dodgerblue;
  vertical-align: middle;
  background: none;
  border: 0;
  outline: 0;
  flex-grow: 0;
  border-radius: 50%;
  background-color: #FFFFFF;
  cursor: pointer;
}


/* Pseudo element for check styling */

[type=checkbox]::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #CCD3D8;
}


    input[type=text]{
      font-family: "Mona Sans";
      font-size:  inherit;
      border:2px solid #14121f;
      border-radius: 10px;
      padding: 10px;
      box-sizing: border-box;
      outline: none;
    }

    input[type=text]:focus{
      border-color: #7af580;
      box-shadow: 0 0 8px 0 #7af580;
    }

    /*.sliderscontainer{
      font-family: "Mona Sans";
      font-size: 2em;
      display: flex; 
      float: left;
      position: absolute;
      left:0%;
      flex-direction: column; 
      justify-content: space-between;
      align-items: start;
      padding: 100px;
      grid-gap: 0em;
      transform: scale(1)
    } */